[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"

[dev-packages]

[scripts]
start = "python3 -m flask --app server run"

[requires]
python_version = "3.8"
